<header class="page-header">
  <div>
    <h2>{{fa-icon "cog"}} {{rule.label}}</h2>

    <nav class="page-nav-links">
      {{#link-to 'projects.show.rules.index' project class='btn btn-default'}}
        {{fa-icon "chevron-left"}} Back
      {{/link-to}}

      {{#if (can 'edit rule' rule)}}
        {{#link-to 'projects.show.rules.edit' project rule
        class='btn btn-default rule-edit-link'}}
          {{fa-icon "pencil"}} Edit
        {{/link-to}}
      {{/if}}

      {{#if (can 'destroy rule' rule)}}
        <a class='btn btn-default rule-delete-modal-link' {{action 'toggleDeleteModal'}}>
          {{fa-icon "remove"}} Delete
        </a>
      {{/if}}
    </nav>
  </div>
</header>

<dl>
  <dt>Source</dt>
  <dd>{{rule.source}}</dd>
  <dt>Original text</dt>
  <dd>{{rule.originalText}}</dd>
</dl>

<ul class="nav nav-tabs project-nav">
  <li role="presentation">
    {{#link-to 'projects.show.rules.show.lerm' rule.project rule}}
      LERM
    {{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'projects.show.rules.show.formalization-results' rule.project rule}}
      Formalization results
    {{/link-to}}
  </li>
  <li role="presentation">
    <a href="#">Relationships</a>
  </li>
</ul>

{{liquid-outlet}}

{{#if showDeleteModal}}
  {{#modal-dialog close='toggleDeleteModal' targetAttachment='center' translucentOverlay=true}}
    <h3>Are you sure you wish to delete this rule?</h3>

    <dl>
      <dt>Label</dt>
      <dd>{{rule.label}}</dd>
      <dt>Source</dt>
      <dd>{{rule.source}}</dd>
      <dt>Original text</dt>
      <dd>{{rule.originalText}}</dd>
    </dl>

    {{#spinner-button onclick=(action (perform deleteRuleTask))
    isSpinning=deleteRuleTask.isrunning
    class='btn btn-danger delete-btn'}}
      {{fa-icon "remove"}} Delete
    {{/spinner-button}}

    <a class="btn btn-default delete-cancel-btn" {{action "toggleDeleteModal"}}>Cancel</a>

  {{/modal-dialog}}
{{/if}}
