<div class="row">
  <div class="col-md-3 user-profile">
    <h1>{{fa-icon "user"}} {{model.username}}</h1>

    {{model.fullName}}
  </div>

  <div class="col-md-9 user-projects">
    <header>
      <h2>{{fa-icon "archive"}} Projects</h2>

      {{#link-to 'projects.new' class="pull-right create-project-link btn btn-default"}}
        {{fa-icon "plus"}} Create a new project
      {{/link-to}}
    </header>

    {{#if model.memberships.length}}
      <table class="table table-striped projects-table">
        <thead>
        <tr>
          <th>Project</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.memberships as |membership|}}
          <tr>
            <td>
              {{#link-to 'projects.show' membership.project class="project-link"}}
                {{membership.project.name}}
              {{/link-to}}

              <span class="project-description">{{membership.project.description}}</span>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="text-muted">
        You don't have any projects yet. {{#link-to 'projects.new'}}Create one.{{/link-to}}
      </p>
    {{/if}}
  </div>
</div>
