<h3>Step 2: Formulate the rule as logical statement</h3>

<section class="lerm-step-2a">
  <h4>Step 2a: Identify phrases with data elements</h4>

  <p>
    Identify the phrases containing clinical information in the rule. Copy and paste
    these from the proactively formulated rule into the text field below.
  </p>

  {{#if rule.proactiveForm}}
    <pre class="proactive-form-reference">{{highlight rule.proactiveForm phraseTexts}}</pre>
  {{else}}
    <pre class="proactive-form-reference">{{highlight rule.originalText phraseTexts}}</pre>
  {{/if}}

  <section class="phrase-table-section">
    {{#if rule.phrases.length}}
      <table class="table table-striped phrase-table">
        <thead>
          <tr>
            <th>Phrase</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {{#each rule.phrases as |phrase|}}
            <tr>
              <td class="phrase-column {{if phrase.matchesRule 'valid-phrase' 'invalid-phrase'}}">
                {{phrase.originalText}}
              </td>

              <td>
                {{#if (can 'edit rule' rule)}}
                  <button class="btn btn-default delete-btn" {{action (perform deletePhraseTask phrase)}}>
                    {{fa-icon "remove"}} Delete
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="text-muted">No phrases have been identified yet.</p>
    {{/if}}

    {{#if (can 'edit rule' rule)}}
      <form class="form-inline add-phrase-form" {{action (perform addPhraseTask) on='submit'}}>
        <div class="form-group">
          {{input type='text' id='new_phrase_text' value=newPhraseText class='form-control'
                  placeholder='Copy and paste a new phrase...'}}
        </div>

        <div class="form-group">
          {{#spinner-button class="btn btn-primary add-phrase-btn" isSpinning=addPhraseTask.isRunning}}
            {{fa-icon 'plus'}} Add phrase
          {{/spinner-button}}
        </div>
      </form>
    {{/if}}
  </section>
</section>

<section class="lerm-step-2b">
  <h4>Step 2b: Restate the rule in disjunctive normal form</h4>

  <p>
    Here the basic control-flow structure is defined by defining which condition
    will trigger which action. The rules should be broken down to their simplest
    parts. Use the identified phrases to state in logical statements the conditions
    and consequences of the rule. The rule may be broken up into multiple smaller
    and simpler logical statements.
  </p>

  <section class="statement-list-section">
    {{#if rule.statements}}
      <ul class="panel-list statement-list">
        {{#each rule.statements as |statement|}}
          <li>
            {{projects/show/rules/show/lerm/step-2/statement-component
                statement=statement
                saveTask=saveStatementTask
                deleteTask=deleteStatementTask}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-muted">No statements have been added yet for this rule.</p>
    {{/if}}

    {{#if (can 'edit rule' rule)}}
      <button class="btn btn-primary add-statement-btn" {{action 'addStatement'}}>
        {{fa-icon 'plus'}} Add Statement
      </button>
    {{/if}}
  </section>
</section>

<div class="lerm-step-controls">
  {{#link-to 'projects.show.rules.show.lerm.step-1' rule class='btn btn-default previous-step-btn'}}
    {{fa-icon 'arrow-left'}} Go back to Step 1
  {{/link-to}}

  {{#link-to 'projects.show.rules.show.lerm.step-3' rule class='btn btn-default next-step-btn'}}
    Go on to Step 3 {{fa-icon 'arrow-right'}}
  {{/link-to}}
</div>
