<header class="page-header">
  <div>
    <h1>{{fa-icon "archive"}} {{model.name}}</h1>

    <nav class="page-nav-links">
      {{#if (can 'edit project' model)}}
        {{#link-to 'projects.edit' model class='btn btn-default project-edit-link'}}
          {{fa-icon "pencil"}} Edit project
        {{/link-to}}
      {{/if}}
    </nav>
  </div>

  <p class="project-description">
    {{model.description}}
  </p>
</header>

<ul class="nav nav-tabs project-nav">
  <li role="presentation"><a href="#">Rules</a></li>
  <li role="presentation">
    {{#link-to 'projects.show.data-elements' model}}{{fa-icon 'cubes'}} Data Elements{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'projects.show.members' model}}{{fa-icon 'users'}} Members{{/link-to}}
  </li>
</ul>

{{liquid-outlet}}
