<section class="lerm-step-6">
  <h3>Step 6: Identify relationship between rules</h3>

  <p>
    Determine relatedness of rules.By this stage the rules are defined in a crisp
    language and uniform grammar. The relationships between the domain concepts
    can now be mapped. That relationships caused by shared data elements will be
    detected automatically and will not have to be added here manually.
  </p>

  <section class="relationship-list-section">
    {{#if rule.relationships}}
      <ul class="panel-list relationship-list">
        {{#each rule.relationships as |relationship|}}
          <li>
            {{projects/show/rules/show/lerm/step-6/rule-relationship-component
                rule=rule
                relationship=relationship
                saveTask=saveRelationshipTask
                deleteTask=deleteRelationshipTask}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-muted">No relationships have been identified yet for this rule.</p>
    {{/if}}

    {{#if (can 'edit rule' rule)}}
      <button class="btn btn-primary add-relationship-btn" {{action 'addRelationship'}}>
        {{fa-icon 'plus'}} Add Relationship
      </button>
    {{/if}}
  </section>
</section>

<div class="lerm-step-controls">
  {{#link-to 'projects.show.rules.show.lerm.step-5' rule class='btn btn-default previous-step-btn'}}
    {{fa-icon 'arrow-left'}} Go back to Step 5
  {{/link-to}}

  {{#link-to 'projects.show.rules.show.formalization-results' rule class='btn btn-default next-step-btn'}}
    {{fa-icon 'flag-checkered'}} Go to formalization results
  {{/link-to}}
</div>
