<header class="page-header">
  <div>
    <h2>{{fa-icon "cube"}} {{model.label}}</h2>

    <nav class="page-nav-links">
      {{#link-to 'projects.show.data-elements.index' model.project class='btn btn-default'}}
        {{fa-icon "chevron-left"}} Back
      {{/link-to}}

      {{#if (can 'edit data-element' model)}}
        {{#link-to 'projects.show.data-elements.edit' model.project model class='btn btn-default data-element-edit-link'}}
          {{fa-icon "pencil"}} Edit Data Element
        {{/link-to}}
      {{/if}}
    </nav>
  </div>
</header>

<dl>
  <dt>Description</dt>
  <dd>{{model.description}}</dd>
</dl>
