<header class="page-header">
  <h1>Edit project</h1>

  <nav class="page-nav-links">
    {{#link-to 'projects.show' project class='btn btn-default back-link'}}
      {{fa-icon "chevron-left"}} Back
    {{/link-to}}
  </nav>
</header>

<form class="project-edit-form form-horizontal" {{action (perform saveProjectTask) on="submit"}}>
  <div class="form-group {{if project.errors.name "has-error"}}">
    <label class="control-label col-sm-2" for="name">Name</label>

    <div class="col-sm-10">
      {{input id="name" class="form-control" value=project.name placeholder="Enter a name..."}}
      {{#each project.errors.name as |error|}}
        <p class="help-block"><em>{{error.message}}</em></p>
      {{/each}}
    </div>
  </div>

  <div class="form-group {{if project.errors.description "has-error"}}">
    <label class="control-label col-sm-2" for="description">Description</label>

    <div class="col-sm-10">
      {{textarea id="description" class="form-control" value=project.description
      placeholder="Optionally give a description..."}}
      {{#each project.errors.description as |error|}}
        <p class="help-block"><em>{{error.message}}</em></p>
      {{/each}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      {{#spinner-button type="submit" class="btn btn-primary" isSpinning=saveProjectTask.isRunning}}
        {{fa-icon "save"}} Save
      {{/spinner-button}}
    </div>
  </div>
</form>
