<section class="lerm-step-5">
  <h3>Step 5: Extract data elements</h3>

  <section class="lerm-step-5a">
    <h4>Step 5a: Determine the crispness of the phrases</h4>

    <p>
      The terms crisp and fuzzy are drawn from set theory. A set of objects is fuzzy if
      it is possible to have degrees of membership in that set. A set is crisp if it is
      possible to unambiguously determine whether something is or is not a member of the
      set. Mark the phrase as crisp when the system can unambiguously determine if the
      rule applies.
    </p>

    {{#if activePhrases}}
      <table class="table table-striped phrase-table">
        <thead>
          <tr>
            <th>Phrase</th>
            <th>Crisp</th>
          </tr>
        </thead>

        <tbody>
          {{#each activePhrases as |phrase|}}
            <tr>
              <td>{{phrase.text}}</td>
              <td>
                {{one-way-checkbox
                    class='crispness-checkbox'
                    checked=phrase.crisp
                    update=(action 'updateCrispness' phrase)
                    disabled=(not (can 'edit rule' rule))}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="text-muted">No phrases have been identified yet for this rule.</p>
    {{/if}}
  </section>

  <section class="lerm-step-5b">
    <h4>Step 5b: Link phrases to data elements</h4>

    <p>
      Data elements are the units of clinical information which will be used by the software
      which provides decision support. Link each of the phrases to one or more data elements
      the system knows. By default, multiple data elements will be combined with a logical OR.
      A custom logical expression may be provided to combine multiple data element in a
      different way or to adjust the format to be compatible the target system.
    </p>

    {{#if activePhrases}}
      <ul class="panel-list phrase-list">
        {{#each activePhrases as |phrase|}}
          <li>
            {{projects/show/rules/show/lerm/step-5/phrase-data-element-links
                phrase=phrase
                dataElements=dataElements
                linkDataElementTask=linkDataElementTask
                unlinkDataElementTask=unlinkDataElementTask
                savePhraseTask=savePhraseTask
                saveDataElementTask=saveDataElementTask}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-muted">No phrases have been identified yet for this rule.</p>
    {{/if}}
  </section>
</section>

<div class="lerm-step-controls">
  {{#link-to 'projects.show.rules.show.lerm.step-4' rule class='btn btn-default previous-step-btn'}}
    {{fa-icon 'arrow-left'}} Go back to Step 4
  {{/link-to}}

  {{#link-to 'projects.show.rules.show.lerm.step-6' rule class='btn btn-default next-step-btn'}}
    Go on to Step 6 {{fa-icon 'arrow-right'}}
  {{/link-to}}
</div>
