{{#if (can 'edit project' model.project)}}
  {{#link-to 'projects.show.rules.new' model.project class='btn btn-default add-rule-link pull-right'}}
    {{fa-icon "plus"}} Add Rule
  {{/link-to}}
{{/if}}

{{#if model.rules.length}}
  <table class="table table-striped project-rules-table">
    <thead>
    <tr>
      <th>Label</th>
      <th>Source</th>
    </tr>
    </thead>

    <tbody>
    {{#each model.rules as |rule|}}
      <tr>
        <td>
          {{#link-to 'projects.show.rules.show' rule.project rule class="rule-link"}}{{rule.label}}{{/link-to}}
          {{projects/show/rules/formalization-status-label rule=rule}}
          <span class="small-description">{{rule.originalText}}</span>
        </td>
        <td>
          {{rule.source}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="text-muted">
    No rules exist yet for this project.
    {{#link-to 'projects.show.rules.new' model.project}}Add a rule.{{/link-to}}
  </p>
{{/if}}
