<section class="lerm-step-1">
  <h3>Step 1: Formulate the rule proactively</h3>

  <p>
    In order to provide proactive decision support for a rule, the rule must be stated
    such that it can be proactively operationalized. That is, it must be possible to
    use the rule to make a decision for an individual patient before it is too late to
    carry out the recommended care. The rule may need to be made more explicit in order
    to be actionable. By default, the rule's original text will be used.
  </p>

  <form class="proactive-form-form" {{action (perform saveProactiveFormTask) on='submit'}}>

    <div class="form-group">
      {{textarea id="proactive_form" class="form-control" value=proactiveForm disabled=proactiveFormFieldDisabled
                 placeholder=rule.originalText}}
    </div>

    <div class="form-group field-controls">
      {{#if (can 'edit rule' rule)}}
        {{#if isEditing}}
          {{#spinner-button class="btn btn-primary save-btn" isSpinning=saveProactiveFormTask.isRunning}}
            {{fa-icon "save"}} Save
          {{/spinner-button}}

          <a class="btn btn-default cancel-btn" {{action 'stopEditing'}}>
            Cancel
          </a>
        {{else}}
          <a class="btn btn-default edit-btn" {{action 'startEditing'}}>
            {{fa-icon 'pencil'}} Edit
          </a>
        {{/if}}
      {{/if}}
    </div>
  </form>
</section>
