<nav class="navbar navbar-default">
  <div class="nav-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LERM Formalizer</a>
    </div>

    <ul class="nav navbar-nav">
      <li>{{#link-to 'projects'}}{{fa-icon "archive"}} Projects{{/link-to}}</li>
    </ul>

    <ul class="nav navbar-nav navbar-right user-menu">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'current-user'}}{{fa-icon "user"}} {{session.currentUser.username}}{{/link-to}}</li>
        <li><a {{action 'invalidateSession'}} class="logout-link">{{fa-icon "sign-out"}} Log out</a></li>
      {{else}}
        <li>{{#link-to 'login'}}{{fa-icon "sign-in"}} Log in{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>

<main>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}
</main>

<footer class="main-footer">
  &copy; 2016
</footer>
