<form class="auth-form" {{action (perform authenticateTask) on='submit'}}>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

  <label for="identification">E-mail</label>
  {{input id='identification' placeholder='Enter e-mail' value=identification}}

  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}

  <button class="submit-button" type="submit">{{fa-icon "sign-in"}} Login</button>
</form>
